<!DOCTYPE html>
<html>
<body>

<h1>My Auth Heading</h1>
{{ range .Forums}}
<div>
    <p>{{.Name}}</p>
</div>
{{ end }}
<div>
    <h1>New Forum</h1>
    <h1>{{.User.Username}}</h1>
    <form action="/newforum" method="post" enctype="multipart/form-data">
        <div>
            <label for="forum_name">Forum Name:</label>
            <input type="text" id="forum_name" name="forum_name" maxlength="128" required>
        </div>
        <div>
            <label for="forum_image">Forum Image:</label>
            <input type="file" id="forum_image" name="forum_image" accept="image/jpeg, image/png, image/gif">
        </div>
        <div>
            <button type="submit">Make Forum</button>
        </div>
    </form>
    </div>
</body>
</html>
