<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Registration</title>
    <!-- <script src="/public/scripts/verify.js" defer></script> -->
    <link href="/public/styles/output.css" rel="stylesheet" />
  </head>
  <body>
    <div>
      <h1>User Registration</h1>
      <form method="POST" enctype="multipart/form-data">
        <input id="email" name="email" value="{{.Data.Email}}" hidden />
        <div class="p-4">
          <label for="otp">OTP:</label>
          <input type="number" id="otp" name="otp" />
        </div>
        <div>
          <button type="submit" formaction="/verify">Verify</button>
          <button type="submit" formaction="/resendotp">Resend OTP</button>
        </div>
      </form>
      {{if .Data.Message}}
      <p>{{.Data.Message}}</p>
      {{end}}
    </div>
    {{if .Errors}}
    <ul>
      {{range .Errors}}
      <li>{{.}}</li>
      {{end}}
    </ul>
    {{else}}
    <p>No errors.</p>
    {{end}}
  </body>
</html>
